<!DOCTYPE html>
<html lang="fr-FR">

<!-- Mirrored from demo.thimpress.com/elearningwp/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 09 Jan 2016 19:55:39 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->

<!---------------------------------------header----------------------------------------------->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="profile" href="http://gmpg.org/xfn/11">
    <link rel="pingback" href="xmlrpc.php">
    <link rel="shortcut icon" href="wp-content/themes/elearningwp/images/favicon.ico" type="image/x-icon" />


    <!-------------------------------------------------script------------------------------------->


    <script type="text/javascript">document.documentElement.className = document.documentElement.className + ' yes-js js_active js'</script>
    <script type="text/javascript">
        /* <![CDATA[ */
        var ajaxurl = "wp-admin/admin-ajax.html";
        /* ]]> */
    </script>
    <title>E-institut</title>
    <style>
        .wishlist_table .add_to_cart, a.add_to_wishlist.button.alt { border-radius: 16px; -moz-border-radius: 16px; -webkit-border-radius: 16px; }			</style>
    <script type="text/javascript">
        var yith_wcwl_plugin_ajax_web_url = 'wp-admin/admin-ajax.html';
    </script>
    <link rel="alternate" type="application/rss+xml" title="eLearningWP &raquo; Feed" href="{{ asset('front/feed/index.html') }}" />
    <link rel="alternate" type="application/rss+xml" title="eLearningWP &raquo; Comments Feed" href="{{ asset('front/comments/feed/index.html') }}" />
    <link rel="alternate" type="application/rss+xml" title="eLearningWP &raquo; Homepage Comments Feed" href="{{ asset('front/home-page-new/feed/index.html') }}" />
    <script type="text/javascript">
        window._wpemojiSettings = {"baseUrl":"http:\/\/s.w.org\/images\/core\/emoji\/72x72\/","ext":".png","source":{"concatemoji":"http:\/\/demo.thimpress.com\/elearningwp\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.2.6"}};
        !function(a,b,c){function d(a){var c=b.createElement("canvas"),d=c.getContext&&c.getContext("2d");return d&&d.fillText?(d.textBaseline="top",d.font="600 32px Arial","flag"===a?(d.fillText(String.fromCharCode(55356,56812,55356,56807),0,0),c.toDataURL().length>3e3):(d.fillText(String.fromCharCode(55357,56835),0,0),0!==d.getImageData(16,16,1,1).data[0])):!1}function e(a){var c=b.createElement("script");c.src=a,c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g;c.supports={simple:d("simple"),flag:d("flag")},c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.simple&&c.supports.flag||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='tipsy-css'  href="{{ asset('wp-content/plugins/learnpress/assets/css/tipsy30e4.css') }}" type='text/css' media='all' />
    <link rel='stylesheet' id='siteorigin-panels-front-css'  href="{{ asset('front/wp-content/plugins/siteorigin-panels/css/frontdc8c.css') }}" type='text/css' media='all' />
    <link rel='stylesheet' id='bbp-default-css'  href="{{ asset('front/wp-content/plugins/bbpress/templates/default/css/bbpresse4d2.css') }}" type='text/css' media='screen' />
    <link rel='stylesheet' id='contact-form-7-css'  href="{{ asset('front/wp-content/plugins/contact-form-7/includes/css/styles50fa.css') }}" type='text/css' media='all' />
    <link rel='stylesheet' id='woocommerce-layout-css'  href="{{ asset('front/wp-content/plugins/woocommerce/assets/css/woocommerce-layouta1a3.css') }}" type='text/css' media='all' />
    <link rel='stylesheet' id='woocommerce-general-css'  href="{{ asset('front/wp-content/plugins/woocommerce/assets/css/woocommercea1a3.css') }}" type='text/css' media='all' />
    <link rel='stylesheet' id='bp-legacy-css-css'  href="{{ asset('front/wp-content/plugins/buddypress/bp-templates/bp-legacy/css/buddypress.min25b6.css') }}" type='text/css' media='screen' />
    <link rel='stylesheet' id='wcqi-css-css'  href="{{ asset('front/wp-content/plugins/woocommerce-quantity-increment/assets/css/wc-quantity-increment5462.css') }}" type='text/css' media='all' />
    <link rel='stylesheet' id='lpr-print-rate-css-css'  href="{{ asset('front/wp-content/plugins/learnpress-course-review/assets/course-review5462.css') }}" type='text/css' media='all' />
    <link rel='stylesheet' id='dashicons-css'  href="{{ asset('front/wp-includes/css/dashicons.min5462.css') }}" type='text/css' media='all' />
    <link rel='stylesheet' id='course-wishlist-style-css'  href="{{ asset('front/wp-content/plugins/learnpress-wishlist/source/wishlist5462.css') }}" type='text/css' media='all' />
    <link rel='stylesheet' id='jquery-colorbox-css'  href="{{ asset('front/wp-content/plugins/yith-woocommerce-compare/assets/css/colorbox5462.css') }}" type='text/css' media='all' />
    <link rel='stylesheet' id='woocommerce_prettyPhoto_css-css'  href="{{ asset('front/wp-content/plugins/woocommerce/assets/css/prettyPhoto5462.css') }}" type='text/css' media='all' />
    <link rel='stylesheet' id='jquery-selectBox-css'  href="{{ asset('front/wp-content/plugins/yith-woocommerce-wishlist/assets/css/jquery.selectBox5462.css') }}" type='text/css' media='all' />
    <link rel='stylesheet' id='yith-wcwl-main-css'  href="{{ asset('front/wp-content/plugins/yith-woocommerce-wishlist/assets/css/style5462.css') }}" type='text/css' media='all' />
    <link rel='stylesheet' id='yith-wcwl-font-awesome-css'  href="{{ asset('front/wp-content/plugins/yith-woocommerce-wishlist/assets/css/font-awesome.min5462.css') }}" type='text/css' media='all' />
    <link rel='stylesheet' id='thim-bootstrap-css'  href="{{ asset('front/wp-content/themes/elearningwp/css/bootstrap.min5462.css') }}" type='text/css' media='all' />
    <link rel='stylesheet' id='thim-style-css'  href="{{ asset('front/wp-content/themes/elearningwp/style-15462.css') }}" type='text/css' media='all' />
    <link rel='stylesheet' id='thim-awesome-css'  href="{{ asset('front/wp-content/themes/elearningwp/framework/css/font-awesome.min5462.css') }}" type='text/css' media='all' />
    <link rel='stylesheet' id='thim-7-stroke-css'  href="{{ asset('front/wp-content/themes/elearningwp/framework/css/pe-icon-7-stroke5462.css') }}" type='text/css' media='all' />
    <link rel='stylesheet' id='tf-google-webfont-lato-css'  href='http://fonts.googleapis.com/css?family=Lato%3A400%2C700%2C100%2C400&amp;subset=latin%2Clatin-ext&amp;ver=4.2.6' type='text/css' media='all' />
    <script type="text/javascript">
        var ajax_url ="{{ asset('front/wp-admin/admin-ajax.html') }}";
        var export_url = "{{ asset('front/wp-login2bb8.html?page=export_settings') }}";
    </script><script type="text/javascript">
        var thim_ob_ajax_url ="{{ asset('front/wp-admin/admin-ajax.html') }}";
    </script><script type='text/javascript' src="{{ asset('front/wp-includes/js/jquery/jquery4a80.js') }}"></script>
    <script type='text/javascript' src="{{ asset('front/wp-admin/admin-ajax.html') }}"></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var BP_Confirm = {"are_you_sure":"Are you sure?"};
        /* ]]> */
    </script>
    <script type='text/javascript' src="{{ asset('front/wp-content/plugins/buddypress/bp-core/js/confirm.min25b6.js') }}"></script>
    <script type='text/javascript' src="{{ asset('front/wp-content/plugins/buddypress/bp-core/js/widget-members.min25b6.js') }}"></script>
    <script type='text/javascript' src="{{ asset('front/wp-content/plugins/buddypress/bp-core/js/jquery-query.min25b6.js') }}"></script>
    <script type='text/javascript' src="{{ asset('front/wp-content/plugins/buddypress/bp-core/js/jquery-cookie.min25b6.js') }}"></script>
    <script type='text/javascript' src="{{ asset('front/wp-content/plugins/buddypress/bp-core/js/jquery-scroll-to.min25b6.js') }}"></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var BP_DTheme = {"accepted":"Accepted","close":"Close","comments":"comments","leave_group_confirm":"Are you sure you want to leave this group?","mark_as_fav":"Favorite","my_favs":"My Favorites","rejected":"Rejected","remove_fav":"Remove Favorite","show_all":"Show all","show_all_comments":"Show all comments for this thread","show_x_comments":"Show all %d comments","unsaved_changes":"Your profile has unsaved changes. If you leave the page, the changes will be lost.","view":"View"};
        /* ]]> */
    </script>
    <script type='text/javascript' src="{{ asset('front/wp-content/plugins/buddypress/bp-templates/bp-legacy/js/buddypress.min25b6.js') }}"></script>
    <script type='text/javascript' src="{{ asset('front/wp-content/plugins/woocommerce-quantity-increment/assets/js/wc-quantity-increment.min5462.js') }}"></script>
    <script type='text/javascript' src="{{ asset('front/wp-content/themes/elearningwp/js/jquery.flexslider-min5462.js') }}"></script>
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="xmlrpc0db0.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://tpdm.foobla.netdna-cdn.com/elearningwp/wp-includes/wlwmanifest.xml" />


    <script type="text/javascript">var ajaxurl = 'wp-admin/admin-ajax.html';</script>

    <style type="text/css" media="all" id="siteorigin-panels-grids-wp_head">/* Layout 1642 */ #pg-1642-0 , #pg-1642-1 , #pg-1642-2 , #pg-1642-3 , #pg-1642-4 , #pg-1642-5 , #pl-1642 .panel-grid-cell .so-panel , #pl-1642 .panel-grid-cell .so-panel:last-child { margin-bottom:0px } #pgc-1642-1-0 { width:32.391% } #pgc-1642-1-1 { width:32.173% } #pgc-1642-1-2 { width:35.436% } #pg-1642-1 .panel-grid-cell , #pg-1642-4 .panel-grid-cell , #pg-1642-6 .panel-grid-cell { float:left } #pgc-1642-4-0 , #pgc-1642-4-1 { width:50% } #pgc-1642-6-0 { width:38.452% } #pgc-1642-6-1 { width:61.548% } #pg-1642-1 , #pg-1642-4 , #pg-1642-6 { margin-left:-15px;margin-right:-15px } #pg-1642-1 .panel-grid-cell , #pg-1642-4 .panel-grid-cell , #pg-1642-6 .panel-grid-cell { padding-left:15px;padding-right:15px } @media (max-width:780px){ #pg-1642-0 .panel-grid-cell , #pg-1642-1 .panel-grid-cell , #pg-1642-2 .panel-grid-cell , #pg-1642-3 .panel-grid-cell , #pg-1642-4 .panel-grid-cell , #pg-1642-5 .panel-grid-cell , #pg-1642-6 .panel-grid-cell { float:none;width:auto } #pgc-1642-1-0 , #pgc-1642-1-1 , #pgc-1642-4-0 , #pgc-1642-6-0 { margin-bottom:0px } #pl-1642 .panel-grid { margin-left:0;margin-right:0 } #pl-1642 .panel-grid-cell { padding:0 }  } </style></head>

<body class="home-page home page page-id-1642 page-template page-template-page-templates page-template-homepage page-template-page-templateshomepage-php siteorigin-panels siteorigin-panels-home no-js">


<!-- menu for mobile-->
{% block menu %}
<div id="wrapper-container" class="wrapper-container">
    <div class="content-pusher">
        <!-- Mobile Menu-->
        <!---------------------------------------------------------------------------------------------------------------------------------------------menu-------------------------------------------------------------->

        <header id="masthead" class="site-header affix-top sticky-header header_default header_v1" role="banner">

            <!-- <div class="main-menu"> -->
            <div class="container">
                <div class="row">
                    <div class="navigation col-sm-12">
                        <div class="tm-table">
                            <div class="menu-mobile-effect navbar-toggle" data-effect="mobile-effect">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </div>
                            <div class="width-logo table-cell sm-logo">
                                <a href="index.html" title="" rel="home" class="no-sticky-logo"><img src="{{ asset('front/wp-content/uploads/2015/06/logo_complet_v1.png') }}" alt="eLearningWP" width="156" height="43" /></a><a href="index.html" title="eLearningWP - Just another WordPress site" rel="home" class="sticky-logo">
                                    <img src="{{ asset('front/wp-content/uploads/2015/06/logo_complet_v1.png') }}" alt="eLearningWP" width="156" height="43" /></a>				</div>
                            <nav class="width-navigation table-cell table-right" role="navigation">

                                <ul class="nav navbar-nav menu-main-menu">
                                    <li  class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-1642 current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children drop_to_left standard"><a href="index.html"><span data-hover="Home">Accueil</span></a>
                                        <ul class="sub-menu" >
                                            <li  class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home"><a href="http://demo.thimpress.com/elearningwp">Home 01</a></li>
                                            <li  class="menu-item menu-item-type-custom menu-item-object-custom"><a href="{{ asset('front/demo-02/index.html') }}">Home 02</a></li>
                                            <li  class="menu-item menu-item-type-custom menu-item-object-custom"><a href="demo-03/index.html">Home 03</a></li>
                                            <li  class="menu-item menu-item-type-custom menu-item-object-custom"><a href="demo-04/index.html">Home 04</a></li>
                                            <li  class="menu-item menu-item-type-custom menu-item-object-custom"><a href="demo-05/index.html">Home 05</a></li>
                                            <li  class="menu-item menu-item-type-custom menu-item-object-custom"><a href="demo-06/index.html">Home 06</a></li>
                                            <li  class="menu-item menu-item-type-custom menu-item-object-custom"><a href="demo-07/index.html">Home 07</a></li>
                                            <li  class="menu-item menu-item-type-custom menu-item-object-custom"><a href="demo-08/index.html">Home 08</a></li>
                                        </ul>
                                    </li>
                                    <li  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children dropdown_full_width  drop_to_center multicolumn"><a href="courses/index.html"><span data-hover="Courses">Tutoriels</span></a>
                                        <ul class="sub-menu megacol submenu_columns_3" >
                                            <li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><span class="disable_link">Demo Accounts</span>
                                                <ul class="sub-menu" >
                                                    <li  class="menu-item menu-item-type-custom menu-item-object-custom"><span class="disable_link">Username / Password</span></li>
                                                    <li  class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#">instructor / instructor</a></li>
                                                    <li  class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#">learner / learner</a></li>
                                                </ul>
                                            </li>
                                            <li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><span class="disable_link">Learner View</span>
                                                <ul class="sub-menu" >
                                                    <li  class="menu-item menu-item-type-post_type menu-item-object-lpr_course"><a href="{{ url('einstitut_cours') }}">Video Course</a></li>
                                                    <li  class="menu-item menu-item-type-post_type menu-item-object-lpr_course"><a href="courses/html5-and-more/index.html">Free Course</a></li>
                                                    <li  class="menu-item menu-item-type-custom menu-item-object-custom"><a href="courses/learning-twitter-bootstrap/what-is-bootstrap/index.html">Check A Lesson</a></li>
                                                    <li  class="menu-item menu-item-type-custom menu-item-object-custom"><a href="buddy-profile/learner/courses/index.html">Your Profile</a></li>
                                                </ul>
                                            </li>
                                            <li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><span class="disable_link">Instructor View</span>
                                                <ul class="sub-menu" >
                                                    <li  class="menu-item menu-item-type-custom menu-item-object-custom"><a href="wp-loginb829.html?post_type=lpr_course">Create New Course</a></li>
                                                    <li  class="menu-item menu-item-type-custom menu-item-object-custom"><a href="buddy-profile/instructor/courses/index.html">Your Profile</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children drop_to_left standard"><span class="disable_link"><span data-hover="Pages">Forum</span></span>
                                        <ul class="sub-menu" >
                                            <li  class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{{ url('einstitut_forum') }}">Consulter</a></li>
                                            <li  class="menu-item menu-item-type-post_type menu-item-object-page"><a href="become-a-teacher/index.html">Become a Teacher</a></li>
                                            <li  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children"><a href="services/index.html">Services</a>
                                                <ul class="sub-menu" >
                                                    <li  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children"><a href="all-instructors/index.html">All Instructors</a>
                                                        <ul class="sub-menu" >
                                                            <li  class="menu-item menu-item-type-post_type menu-item-object-page"><a href="gallery/index.html">Gallery</a></li>
                                                            <li  class="menu-item menu-item-type-post_type menu-item-object-page"><a href="contact-us/index.html">Contact Us</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children drop_to_left standard"><a href="{{ url('einstitut_coursligne') }}"><span data-hover="BuddyPress">Cours en ligne </span></a>
                                        <ul class="sub-menu" >
                                            <li  class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{{ url('einstitut_coursligne') }}">Activity</a></li>
                                            <li  class="menu-item menu-item-type-post_type menu-item-object-page"><a href="buddy-profile/index.html">Members</a></li>
                                        </ul>
                                    </li>
                                    <li  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children drop_to_left standard"><a href="forums/index.html"><span data-hover="bbPress">Cours Audio</span></a>
                                        <ul class="sub-menu" >
                                            <li  class="menu-item menu-item-type-post_type menu-item-object-forum"><a href="forums/forum/learnpress-the-best-wordpress-lms-plugin-2/index.html">General Forum</a></li>
                                        </ul>
                                    </li>

                                    <li class="menu-right"><ul><div id="thim-popup-login-wrapper" style="display:none;">
                                                <div class="thim-popup-login-bg"></div>
                                                <div class="thim-popup-login-container">
                                                    <div class="thim-popup-login-container-inner">
                                                        <div class="thim-popup-login">
                                                            <button class="thim-popup-login-close" type="button" title="Close (Esc)">×</button>
                                                            <div class="col-sm-6 left">
                                                                <h2>New Customer</h2>
                                                                <div class="thim-popup-login-content">
                                                                    <p><b>Register Account</b></p>
                                                                    <p>By creating an account you will be able to shop faster, be up to date on an order status, and keep track of the orders you have previously made.</p>
                                                                    <a class="sc-btn darkblue" href="register/index.html?action=register">Continue</a>
                                                                </div>
                                                            </div><div class="col-sm-6 right">
                                                                <h2>Returning Customer</h2>
                                                                <form id="thim-popup-login-form">
                                                                    <div class="thim-popup-login-content">
                                                                        <p class="login-message">I am a returning customer</p>
                                                                        <p>
                                                                            <label for="user_login">Username
                                                                                <input id="user_login" type="text" name="username" required="required">
                                                                            </label>
                                                                        </p>

                                                                        <label for="user_pass">Password
                                                                            <input id="user_pass" type="password" name="password" required="required">
                                                                        </label>


                                                                        <label><input type="checkbox" name="remember"/> Remember password</label>
                                                                        <br>
                                                                        <input type="hidden" name="action" value="thim_login_ajax"/>
                                                                        <input type="submit" value="Log In" class="sc-btn thim-popup-login-button" id="wp-submit" name="submit">
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <div style="clear: both">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <ul>
                                                <li id="form-login-2" class="widget widget_form-login">
                                                    <div class="thim-widget-form-login thim-widget-form-login-base">
                                                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                                <li>     <a href="{{ path('fos_user_security_logout') }}"> Deconnexion</a></li>
                                                <li>   <a href="{{ path('fos_user_security_logout') }}"> profile</a> </li></ul>
                                            {% else %}
                                            <div class="btn btn-primary">
                                                <a href="{{ path('fos_user_security_login') }}">Connexion</a>
                                            </div>

                                            <a href="{{ path('fos_user_registration_register') }}">s'inscrire</a>

                        </div>
                        {% endif %}

                        </li>
                        <li id="social-3" class="widget widget_social">
                            <div class="thim-widget-social thim-widget-social-base">
                                <div class="thim-social">
                                    <ul class="social_link">
                                        <li><a class="face hasTooltip" href="#" target="_self"><i class="fa fa-facebook"></i></a></li><li><a class="twitter hasTooltip" href="#" target="_self" ><i class="fa fa-twitter"></i></a></li><li><a class="google hasTooltip" href="#" target="_self" ><i class="fa fa-google-plus"></i></a></li><li><a class="dribble hasTooltip" href="#" target="_self" ><i class="fa fa-dribbble"></i></a></li>	</ul>
                                </div></div></li></ul></li></ul>
                        <!--</div>-->


                        </nav>
                    </div>
                    <!--end .row-->
                </div>
            </div>
    </div>
    {% endblock %}

    <!---------------------------------------------------------------------------------------------------------------------------------------------menu-------------------------------------------------------------->


    {% block body %}
    {% endblock %}


    <!---contenu de body---------------------------------------------------------------------------------------------------------------------------body-------------------------------------------------------------->
    <section class="content-area">
        <div class="top_site_main" style="color: #fff;">
            <div class="page-title-wrapper">
                <div class="banner-wrapper container">
                    <h2>Courses</h2>			</div>
            </div>
        </div>


        <div id="top-sidebar-courses"><div class="container"><div class="row"><div class="thim-widget-courses-searching thim-widget-courses-searching-base">	<div class="courses-searching">
                            <form role="search" method="get" action="http://demo.thimpress.com/elearningwp/">
                                <input type="text" value="" name="s" id="s" placeholder="What do you want to learn today?" class="form-control courses-search-input" autocomplete="off" />
                                <input type="hidden" value="course" name="ref" />
                                <button type="submit"><i class="fa fa-search"></i></button>
                                <span class="widget-search-close"></span>
                            </form>
                            <ul class="courses-list-search list-unstyled"></ul>
                        </div>
                    </div></div></div></div>
        <div class="breadcrumbs-wrapper">
            <div class="container">
                <ul id="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList"><li class="item-home"><a itemprop="itemListElement" href="http://demo.thimpress.com/elearningwp" title="Home">Home</a></li><li class="separator"><i class="fa fa-long-arrow-right"></i></li><li class="item-courses" itemprop="itemListElement"><a class="bread-courses" href="../index.html">Courses</a></li><li class="separator"><i class="fa fa-long-arrow-right"></i></li><li class="item-current" itemprop="itemListElement"><strong class="bread-current" title="HTML5 and More">HTML5 and More</strong></li></ul>			</div>
        </div>
        <div class="container site-content"><div class="row"><main id="main" class="site-main col-sm-12 full-width" role="main">
                    <!-- .learn-press --><div class="learn-press"><article id="post-1703" class="row post-1703 lpr_course type-lpr_course status-publish has-post-thumbnail hentry" itemscope itemtype="http://schema.org/CreativeWork">
                            <div class="col-md-9">
                                <header class="entry-header">
                                    <h1 class="entry-title" itemprop="name">HTML5 et  Plus</h1>	<div class="author" aria-hidden="true" itemprop="creator" >
                                        <span class="avatar"><img src="{{ asset('front/wp-content/uploads/2015/06/mamadou.jpg') }}" class="avatar user-9-avatar avatar-32 photo" width="32" height="32" alt="Profile photo of Sk Delpan" /></span>
                                        Profeseur: 		<a href="../../buddy-profile/camthu/courses/index.html" itemprop="url">Mamadou  kaba</a>
                                    </div>
                                </header>
                                <!-- .entry-header -->
                                <div class="entry-content">

                                    <div id="course-landing">
                                        <div class="row">
                                            <div class="col-md-8">
			    <span class="course-price">
        Gratuit   </span>
                                            </div>
                                            <div class="col-md-4">
			<span class="course-students">
    	<span>
    	    		    121 etudiants	        	</span>
	<div class="course-rate">
        <div class="review-stars-rated">
            <div class="review-stars thim-review">
                <span style="width:82.5%;"></span>
            </div>
        </div>
        <p class="review-number">6 Évaluations</p>
    </div></span>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="course-content">
                                            <h3 id="landing-desc">
                                                Description de Cours	</h3><div class="course-description">
                                                <h4 class="crsbx">Le HTML 5 est la dernière version du HTML. Le HTML est la langue de choix pour structurer et présenter le contenu pour le World Wide Web. Dans ce cours en ligne libre(gratuit) vous apprendrez des dernières caractéristiques(fonctions) de HTML 5 incluant la Géolocalisation, la vidéo, le travailleur(l'ouvrier) Web, canvas/SVG, la cachette d'app(application) et la base de données. Ce cours aura de grand(super) intérêt aux professionnels dans les zones(domaines) de design(conception) Web et le développement et aux apprenants qui veulent gagner une connaissance plus grande(super) et une compréhension de HTML 5.</h4>
                                                <h4 class="crsbx">CERTIFICATION</h4>
                                                <p class="justify">Pour faire des études pour devenir votre officiel(fonctionnaire) Alison Diploma, le Certificat ou PDF vous devez étudier et compléter(achever) tous les modules et marquer 80 % ou plus dans chacune des évaluations de cours. Un lien à votre certificat de Diplôme apparaîtra alors dans le Mon titre de Certificats de votre Ma page de Compte(de Compte rendu).</p>
                                                <h4 class="crsbx">APPRENTISSAGE</h4>
                                                <p class="justify">Après avoir étudié ce cours vous aurez une plus grande compréhension de la chose suivante: &#8211; Les nouvelles caractéristiques(fonctions) de HTML 5 et leurs utilisations &#8211; La géolocalisation pour identifier la geo-position d'utilisateurs &#8211; la &lt; video &gt; tag &#8211;La toile(Le démarchage) et SVG pour attirer le Web &#8211; Utilisation de cachette d'application et base de données &#8211; Utilisation de travailleurs Web</p>
                                            </div></div>
                                        <div class="course-curriculum" id="landing-curriculum">
                                            <h3 class="course-curriculum-title">Course Curriculum</h3>
                                            <ul class="curriculum-sections">
                                                <li class="section">
                                                    <h4 class="section-header">
                                                        HTML5					</h4>
                                                    <ul class="section-content">
                                                        <li class="course-lesson">
                                                            <span class="lesson-quiz-icon lesson"></span>    <span  lesson-id="1973" data-id="1973">
                HTML5 Intro            </span>
                                                        </li><li class="course-lesson">
                                                            <span class="lesson-quiz-icon lesson"></span>    <span  lesson-id="1974" data-id="1974">
                HTML5 Support            </span>
                                                        </li><li class="course-lesson">
                                                            <span class="lesson-quiz-icon lesson"></span>    <span  lesson-id="1975" data-id="1975">
                HTML5 Elements            </span>
                                                        </li><li class="course-lesson">
                                                            <span class="lesson-quiz-icon lesson"></span>    <span  lesson-id="1976" data-id="1976">
                HTML5 Sémantique            </span>
                                                        </li><li class="course-lesson">
                                                            <span class="lesson-quiz-icon lesson"></span>    <span  lesson-id="1977" data-id="1977">
                HTML5 Migration            </span>
                                                        </li><li class="course-lesson">
                                                            <span class="lesson-quiz-icon lesson"></span>    <span  lesson-id="1978" data-id="1978">
               HTML5 Guide par rapport  au  style            </span>
                                                        </li>		</ul>
                                                </li>									<li class="section">
                                                    <h4 class="section-header">
                                                        Graphisme					</h4>
                                                    <ul class="section-content">
                                                        <li class="course-lesson">
                                                            <span class="lesson-quiz-icon lesson"></span>    <span  lesson-id="1979" data-id="1979">
                HTML Canvas            </span>
                                                        </li><li class="course-lesson">
                                                            <span class="lesson-quiz-icon lesson"></span>    <span  lesson-id="1980" data-id="1980">
                HTML SVG            </span>
                                                        </li>		</ul>
                                                </li>									<li class="section">
                                                    <h4 class="section-header">
                                                        HTML Media					</h4>
                                                    <ul class="section-content">
                                                        <li class="course-lesson">
                                                            <span class="lesson-quiz-icon lesson"></span>    <span  lesson-id="1981" data-id="1981">
                HTML Media            </span>
                                                        </li><li class="course-lesson">
                                                            <span class="lesson-quiz-icon lesson"></span>    <span  lesson-id="1982" data-id="1982">
                HTML Video            </span>
                                                        </li><li class="course-lesson">
                                                            <span class="lesson-quiz-icon lesson"></span>    <span  lesson-id="1983" data-id="1983">
                HTML Audio            </span>
                                                        </li><li class="course-lesson">
                                                            <span class="lesson-quiz-icon lesson"></span>    <span  lesson-id="1984" data-id="1984">
                HTML Plug-ins            </span>
                                                        </li><li class="course-lesson">
                                                            <span class="lesson-quiz-icon lesson"></span>    <span  lesson-id="1985" data-id="1985">
                HTML YouTube            </span>
                                                        </li>		</ul>
                                                </li>									<li class="section">
                                                    <h4 class="section-header">
                                                        HTML APIs					</h4>
                                                    <ul class="section-content">
                                                        <li class="course-lesson">
                                                            <span class="lesson-quiz-icon lesson"></span>    <span  lesson-id="1986" data-id="1986">
                HTML Geolocation            </span>
                                                        </li><li class="course-lesson">
                                                            <span class="lesson-quiz-icon lesson"></span>    <span  lesson-id="1987" data-id="1987">
                HTML Drag/Drop            </span>
                                                        </li><li class="course-lesson">
                                                            <span class="lesson-quiz-icon lesson"></span>    <span  lesson-id="1988" data-id="1988">
                HTML Local Storage            </span>
                                                        </li><li class="course-lesson">
                                                            <span class="lesson-quiz-icon lesson"></span>    <span  lesson-id="1989" data-id="1989">
                HTML App Cache            </span>
                                                        </li><li class="course-lesson">
                                                            <span class="lesson-quiz-icon lesson"></span>    <span  lesson-id="1990" data-id="1990">
                HTML Web Workers            </span>
                                                        </li><li class="course-lesson">
                                                            <span class="lesson-quiz-icon lesson"></span>    <span  lesson-id="1991" data-id="1991">
                HTML SSE            </span>
                                                        </li><li class="course-quiz">
                                                            <span class="lesson-quiz-icon quiz"></span>    <span target="_blank"  data-id="2755">
                Final Quiz            </span>
                                                        </li>		</ul>
                                                </li>							</ul>
                                        </div>
                                        <div id="course-reviews">
                                            <h3 class="course-review-head">Reviews</h3>
                                            <p class="course-average-rate">Note:<span>4.1</span></p>
                                            <ul class="course-reviews-list">
                                                <li>
                                                    <span class="avatar"><img alt='' src="{{ asset('front/wp-content/uploads/2015/06/avator1.jpg') }}" srcset='http://0.gravatar.com/avatar/?s=180&amp;d=mm&amp;r=g 2x' class='avatar avatar-90 photo avatar-default' height='90' width='90' /></span>

                                                    <div class="review-right">
                                                        <div class="user-name">
                                                            <i class="fa fa-user"></i>Sarang						<div class="review-stars-rated">
                                                                <div class="review-stars thim-review">
                                                                    <span style="width:80%;"></span>
                                                                </div>
                                                            </div>		</div>
                                                        <div class="review-content">
                                                            <h6>Bien</h6>									asdad					</div>
                                                    </div>

                                                </li>                            <li>
                                                    <span class="avatar"><img alt='' src="{{ asset('front/wp-content/uploads/2015/06/avator2.jpg') }}" srcset='http://1.gravatar.com/avatar/?s=180&amp;d=mm&amp;r=g 2x' class='avatar avatar-90 photo avatar-default' height='90' width='90' /></span>

                                                    <div class="review-right">
                                                        <div class="user-name">
                                                            <i class="fa fa-user"></i>sam						<div class="review-stars-rated">
                                                                <div class="review-stars thim-review">
                                                                    <span style="width:100%;"></span>
                                                                </div>
                                                            </div>		</div>
                                                        <div class="review-content">
                                                            <h6>Tres bien</h6>									good					</div>
                                                    </div>

                                                </li>                            <li>
                                                    <span class="avatar"><img alt='' src="{{ asset('front/wp-content/uploads/2015/06/avator3.png') }}" srcset='http://2.gravatar.com/avatar/?s=180&amp;d=mm&amp;r=g 2x' class='avatar avatar-90 photo avatar-default' height='90' width='90' /></span>

                                                    <div class="review-right">
                                                        <div class="user-name">
                                                            <i class="fa fa-user"></i>learner						<div class="review-stars-rated">
                                                                <div class="review-stars thim-review">
                                                                    <span style="width:60%;"></span>
                                                                </div>
                                                            </div>		</div>
                                                        <div class="review-content">
                                                            <h6>supperrr</h6>									fafaf					</div>
                                                    </div>

                                                </li>                            <li>
                                                    <span class="avatar"><img alt='' src="{{ asset('front/wp-content/uploads/2015/06/avator4.jpg') }}" srcset='http://1.gravatar.com/avatar/?s=180&amp;d=mm&amp;r=g 2x' class='avatar avatar-90 photo avatar-default' height='90' width='90' /></span>

                                                    <div class="review-right">
                                                        <div class="user-name">
                                                            <i class="fa fa-user"></i>tabu						<div class="review-stars-rated">
                                                                <div class="review-stars thim-review">
                                                                    <span style="width:100%;"></span>
                                                                </div>
                                                            </div>		</div>
                                                        <div class="review-content">
                                                            <h6>cool</h6>									iop					</div>
                                                    </div>

                                                </li>                            <li>
                                                    <span class="avatar"><img alt='' src="{{ asset('front/wp-content/uploads/2015/06/avator5.jpg') }}" srcset='http://2.gravatar.com/avatar/?s=180&amp;d=mm&amp;r=g 2x' class='avatar avatar-90 photo avatar-default' height='90' width='90' /></span>

                                                    <div class="review-right">
                                                        <div class="user-name">
                                                            <i class="fa fa-user"></i>demo						<div class="review-stars-rated">
                                                                <div class="review-stars thim-review">
                                                                    <span style="width:100%;"></span>
                                                                </div>
                                                            </div>		</div>
                                                        <div class="review-content">
                                                            <h6>le cours est tres bien  expliqué "</h6>									dfddsfs					</div>
                                                    </div>

                                                </li>                                    <li class="loading">Loading...</li>
                                                <!-- <li>No review to load</li> -->
                                            </ul>
                                            <button class="button" id="course-review-load-more" data-paged="1">charger  plus  de contenue</button>
                                        </div>
                                    </div>

                                    <div class="related-courses"><div class="widget-box-title"><h3 class="title">Cours Liés</h3></div><div class="wrapper-item row courses-slider" data-column ="3">			<div class="col-sm-12">
                                                <div class="inner-course">
                                                    <div class="course-thumbnail">
                                                        <a href="../jquery-tutorial/index.html"><img width="480" height="480" src="{{ asset('front/wp-content/uploads/2015/06/14-480x480.jpg') }}" class="attachment-medium wp-post-image" alt="14" /></a>
                                                        <div class="course-date">
                                                            <span class="course-month">Jun</span>
                                                            <span class="course-day">05</span>
                                                            <span class="course-year">2015</span>
                                                        </div>
                                                    </div>
                                                    <div class="course-title">
                                                        <h2>
                                                            <a href="../jquery-tutorial/index.html">
                                                                JQuery Tutorial							</a>
                                                        </h2>
                                                    </div>
                                                    <div class="course-instructor">
                                                        Teacher:						<a href="../../buddy-profile/daidu/courses/index.html">
                                                            <span>Stephen Doe</span>
                                                            <span class="avatar"><img src="{{ asset('front/wp-content/uploads/avatars/5/ed1434179bc5fa7919401ad32b9e7dd7-bpthumb.jpg') }}" class="avatar user-5-avatar avatar-32 photo" width="32" height="32" alt="Profile photo of Stephen Doe" /></span>
                                                        </a>
                                                    </div>
                                                    <div class="course-price">
                                                        Free					</div>
                                                    <div class="course-student">
					<span>
						<i class="dashicons dashicons-groups"></i>
						31 students					</span>
													<span class="course-rating">
							<div class="course-rate">
                                <div class="review-stars-rated">
                                    <div class="review-stars thim-review">
                                        <span style="width:82.5%;"></span>
                                    </div>
                                </div>
                                <p class="review-number">6 ratings</p>
                            </div>						</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="inner-course">
                                                    <div class="course-thumbnail">
                                                        <a href="../javascript-tutorial/index.html"><img width="480" height="480" src="{{ asset('front/wp-content/uploads/2015/06/10-480x480.jpg') }}" class="attachment-medium wp-post-image" alt="10" /></a>
                                                        <div class="course-date">
                                                            <span class="course-month">Jun</span>
                                                            <span class="course-day">05</span>
                                                            <span class="course-year">2015</span>
                                                        </div>
                                                    </div>
                                                    <div class="course-title">
                                                        <h2>
                                                            <a href="../javascript-tutorial/index.html">
                                                                JavaScript Tutorial							</a>
                                                        </h2>
                                                    </div>
                                                    <div class="course-instructor">
                                                        Teacher:						<a href="../../buddy-profile/camthu/courses/index.html">
                                                            <span>Sk Delpan</span>
                                                            <span class="avatar"><img src="{{ asset('front/wp-content/uploads/avatars/9/56da6c828a862f52ca1f28c88a7e863f-bpthumb.jpg') }}" class="avatar user-9-avatar avatar-32 photo" width="32" height="32" alt="Profile photo of Sk Delpan" /></span>
                                                        </a>
                                                    </div>
                                                    <div class="course-price">
                                                        Free					</div>
                                                    <div class="course-student">
					<span>
						<i class="dashicons dashicons-groups"></i>
						15 students					</span>
													<span class="course-rating">
							<div class="course-rate">
                                <div class="review-stars-rated">
                                    <div class="review-stars thim-review">
                                        <span style="width:82.5%;"></span>
                                    </div>
                                </div>
                                <p class="review-number">6 ratings</p>
                            </div>						</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="inner-course">
                                                    <div class="course-thumbnail">
                                                        <a href="../how-to-use-learnpress/index.html"><img width="480" height="480" src="{{ asset('front/wp-content/uploads/2015/06/learnpress-course-480x480.jpg') }}" class="attachment-medium wp-post-image" alt="learnpress-course" /></a>
                                                        <div class="course-date">
                                                            <span class="course-month">Jun</span>
                                                            <span class="course-day">05</span>
                                                            <span class="course-year">2015</span>
                                                        </div>
                                                    </div>
                                                    <div class="course-title">
                                                        <h2>
                                                            <a href="../how-to-use-learnpress/index.html">
                                                                How to use LearnPress							</a>
                                                        </h2>
                                                    </div>
                                                    <div class="course-instructor">
                                                        Teacher:						<a href="../../buddy-profile/admin/courses/index.html">
                                                            <span>John Doe</span>
                                                            <span class="avatar"><img src="{{ asset('front/wp-content/uploads/avatars/1/4fdff87bd8105e1bc7ae137a34d218e2-bpthumb.jpg') }}" class="avatar user-1-avatar avatar-32 photo" width="32" height="32" alt="Profile photo of John Doe" /></span>
                                                        </a>
                                                    </div>
                                                    <div class="course-price">
                                                        Free					</div>
                                                    <div class="course-student">
					<span>
						<i class="dashicons dashicons-groups"></i>
						42 students					</span>
													<span class="course-rating">
							<div class="course-rate">
                                <div class="review-stars-rated">
                                    <div class="review-stars thim-review">
                                        <span style="width:82.5%;"></span>
                                    </div>
                                </div>
                                <p class="review-number">6 ratings</p>
                            </div>						</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!--end--></div>		</div>
                                <!-- .entry-content -->

                                <div id="comments" class="comments-area">
                                    <!-- <p class="no-comments" style="background: #fff;padding: 30px;">Comments are closed.</p> -->
                                    <div class="comment-respond-area">
                                    </div>
                                    <div class="clear"></div>

                                </div><!-- #comments -->
                            </div>

                            <div id="secondary" class="widget-area col-sm-3" role="complementary">
                                <aside id="course-categories-3" class="widget widget_course-categories"><div class="thim-widget-course-categories thim-widget-course-categories-base"><h4 class="widget-title">Categories</h4><ul>	<li class="cat-item cat-item-72"><a href="../../course_category/backend/index.html" >Backend</a>
                                            </li>
                                            <li class="cat-item cat-item-71"><a href="../../course_category/frontend/index.html" >Frontend</a>
                                            </li>
                                            <li class="cat-item cat-item-53"><a href="../../course_category/general/index.html" title=" ">General</a>
                                            </li>
                                            <li class="cat-item cat-item-59"><a href="../../course_category/programming-language/index.html" >Language de  Programmation</a>
                                            </li>
                                            <li class="cat-item cat-item-57"><a href="../../course_category/technology/index.html" >Technologie</a>
                                            </li>
                                        </ul></div></aside><aside id="courses-3" class="widget widget_courses"><div class="thim-widget-courses thim-widget-courses-base"><div class="widget-box-title layout-02"><h3  class="title">Cours Populaires</h3></div><ul class="courses-layout-02">		<li>
                                                <div class="course-thumbnail">
                                                    <a href="../node/index.html"> <img src="../../../../tpdm.foobla.netdna-cdn.com/elearningwp/wp-content/uploads/2015/06/05-60x50.jpg" alt= "Using Node" title = "Using Node" /></a>			</div>
                                                <div class="inner-course">
                                                    <h2 class="course-title">
                                                        <a href="../node/index.html">
                                                            Utilisationde  Node js					</a>
                                                    </h2>

                                                    <div class="course-instructor">
                                                        Professeur :					<a href="../../buddy-profile/taibeo/courses/index.html">
                                                            <span>suppression  de   Cache</span>
                                                        </a>
                                                    </div>
                                                    <div class="course-price">
                                                        &#36; 299.00				</div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="course-thumbnail">
                                                    <a href="../python/index.html"> <img src="{{ asset('front/wp-content/uploads/2015/06/04-60x50.jpg') }}" alt= "Great Python" title = "Great Python" /></a>			</div>
                                                <div class="inner-course">
                                                    <h2 class="course-title">
                                                        <a href="../python/index.html">
                                                            Great Python					</a>
                                                    </h2>

                                                    <div class="course-instructor">
                                                        professeur :					<a href="../../buddy-profile/taibeo/courses/index.html">
                                                            <span>suppression  de   Cache</span>
                                                        </a>
                                                    </div>
                                                    <div class="course-price">
                                                        &#36; 69.00				</div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="course-thumbnail">
                                                    <a href="../easy-zurb-foundation/index.html"> <img src="{{ asset('front/wp-content/uploads/2015/06/09-60x50.jpg') }}" alt= "Easy Zurb Foundation" title = "Easy Zurb Foundation" /></a>			</div>
                                                <div class="inner-course">
                                                    <h2 class="course-title">
                                                        <a href="../easy-zurb-foundation/index.html">
                                                            Easy Zurb Foundation					</a>
                                                    </h2>

                                                    <div class="course-instructor">
                                                        professeur :					<a href="../../buddy-profile/taibeo/courses/index.html">
                                                            <span>suppression  de   Cache</span>
                                                        </a>
                                                    </div>
                                                    <div class="course-price">
                                                        &#36; 75.00				</div>
                                                </div>
                                            </li>
                                        </ul><!--end--></div></aside></div><!-- #secondary -->
                        </article>

                    </div><!-- // .learn-press --></main></div></div>	</section>
    <!-- #main-content -->
    <!---------------------------------------------------------------------------------------------------------------------------------------------body-------------------------------------------------------------->
    {% block footer %}
    {% endblock %}
    </a>
</div></div>

{% block javascriptsFront %}
{% endblock %}
</body >

<!-- Mirrored from demo.thimpress.com/elearningwp/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 09 Jan 2016 19:57:35 GMT -->
</html >

