{% extends "::frontBase.html.twig" %}

{% block titleFront %}{{ parent() }} | Accueil{% endblock %}
{% block bodyFront %}
    <div id="main-content" class="home-content home-page container" role="main">
        <div id="pl-1642">
            <div class="panel-grid" id="pg-1642-0">
                <div class="panel-row-style-overlay-blacktext-center siteorigin-panels-stretch overlay-black text-center panel-row-style"
                     style="background-image: url(../../tpdm.foobla.netdna-cdn.com/elearningwp/wp-content/uploads/2015/06/banner.jpg);background-repeat: repeat;"
                     data-stretch-type="full">
                    <div class="panel-grid-cell" id="pgc-1642-0-0">
                        <div class="so-panel widget widget_empty-space widget_empty-space panel-first-child"
                             id="panel-1642-0-0-0">
                            <div class="thim-widget-empty-space thim-widget-empty-space-base">
                                <div class="empty_space" style="height:100px"></div>
                            </div>
                        </div>
                        <div class="so-panel widget widget_icon-box widget_icon-box" id="panel-1642-0-0-1">
                            <div class="thim-widget-icon-box thim-widget-icon-box-base"><a class="icon-box-link"
                                                                                           href="#">
                                    <div class="wrapper-box-icon text-center " data-text-readmore="#fff">
                                        <div class="smicon-box icon-top">
                                            <div class="boxes-icon" style="width: 140px;height: 140px;"><span
                                                        class="inner-icon"><span class="icon icon-images"><img
                                                                src="../../tpdm.foobla.netdna-cdn.com/elearningwp/wp-content/uploads/2015/06/logo-banner-search.png"
                                                                width="140" height="120" alt=""/></span></span>
                                            </div>
                                            <div class="content-inner">
                                                <div class="widget-title-icon-box "><h3 class="icon-box-title"
                                                                                        style="color: #ffffff;font-size: 42px; line-height: 42px;font-weight: 600;margin-bottom: 30px;">
                                                        Getting started with <span>e-Learning</span></h3></div>
                                            </div>
                                        </div>
                                        <!--end smicon-box--></div>
                                </a></div>
                        </div>
                        <div class="so-panel widget widget_courses-searching widget_courses-searching"
                             id="panel-1642-0-0-2">
                            <div class="thim-widget-courses-searching thim-widget-courses-searching-base">
                                <div class="courses-searching">
                                    <form role="search" method="get"
                                          action="http://demo.thimpress.com/elearningwp/">
                                        <input type="text" value="" name="s" id="s"
                                               placeholder="What do you want to learn today?"
                                               class="form-control courses-search-input" autocomplete="off"/>
                                        <input type="hidden" value="course" name="ref"/>
                                        <button type="submit"><i class="fa fa-search"></i></button>
                                        <span class="widget-search-close"></span>
                                    </form>
                                    <ul class="courses-list-search list-unstyled"></ul>
                                </div>
                            </div>
                        </div>
                        <div class="so-panel widget widget_black-studio-tinymce widget_black_studio_tinymce"
                             id="panel-1642-0-0-3">
                            <div style="color: #ffffff;" class="panel-widget-style">
                                <div class="textwidget">
                                    <ul class="list-info">
                                        <li><i class="fa fa-graduation-cap">&nbsp;</i><a href="#">Over 7 million
                                                students.</a></li>
                                        <li><i class="fa fa-book">&nbsp;</i><a href="#">More than 30,000
                                                courses.</a></li>
                                        <li><i class="fa fa-paper-plane">&nbsp;</i><a href="#">Learn anything
                                                online.</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="so-panel widget widget_empty-space widget_empty-space panel-last-child"
                             id="panel-1642-0-0-4">
                            <div class="thim-widget-empty-space thim-widget-empty-space-base">
                                <div class="empty_space" style="height:100px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-grid" id="pg-1642-1">
                <div class="panel-row-style-background-left siteorigin-panels-stretch background-left panel-row-style"
                     style="background-color:#5dbe59;background-image: url(../../tpdm.foobla.netdna-cdn.com/elearningwp/wp-content/uploads/2015/06/bg-row.jpg);background-repeat: repeat;"
                     data-stretch-type="full">
                    <div class="panel-grid-cell" id="pgc-1642-1-0">
                        <div class="so-panel widget widget_empty-space widget_empty-space panel-first-child"
                             id="panel-1642-1-0-0">
                            <div class="thim-widget-empty-space thim-widget-empty-space-base">
                                <div class="empty_space" style="height:45px"></div>
                            </div>
                        </div>
                        <div class="so-panel widget widget_icon-box widget_icon-box panel-last-child"
                             id="panel-1642-1-0-1">
                            <div class="thim-widget-icon-box thim-widget-icon-box-base"><a class="icon-box-link"
                                                                                           href="#">
                                    <div class="wrapper-box-icon text-center circle" data-text-readmore="#fff">
                                        <div class="smicon-box icon-top">
                                            <div class="boxes-icon circle"
                                                 style="background-color: #ffffff;width: 100px;height: 100px;"><span
                                                        class="inner-icon"><span class="icon"><i
                                                                class="fa fa-trophy"
                                                                style="color:#61bd5e; font-size:40px; line-height:40px; vertical-align: middle;"></i></span></span>
                                            </div>
                                            <div class="content-inner">
                                                <div class="widget-title-icon-box "><h3 class="icon-box-title"
                                                                                        style="color: #ffffff;font-size: 20px; line-height: 20px;font-weight: 700;margin-bottom: 20px;">
                                                        Best Industry Leaders</h3></div>
                                                <div class="desc-icon-box"><p
                                                            style="color: #dbecda;font-size: 15px;font-weight: 400;line-height: 22px;">
                                                        We pride ourselves on providing the most up-to-date content
                                                        for our students to learn each course is delivered.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--end smicon-box--></div>
                                </a></div>
                        </div>
                    </div>
                    <div class="panel-grid-cell" id="pgc-1642-1-1">
                        <div class="so-panel widget widget_empty-space widget_empty-space panel-first-child"
                             id="panel-1642-1-1-0">
                            <div class="thim-widget-empty-space thim-widget-empty-space-base">
                                <div class="empty_space" style="height:45px"></div>
                            </div>
                        </div>
                        <div class="so-panel widget widget_icon-box widget_icon-box panel-last-child"
                             id="panel-1642-1-1-1">
                            <div class="thim-widget-icon-box thim-widget-icon-box-base"><a class="icon-box-link"
                                                                                           href="#">
                                    <div class="wrapper-box-icon text-center circle" data-text-readmore="#fff">
                                        <div class="smicon-box icon-top">
                                            <div class="boxes-icon circle"
                                                 style="background-color: #ffffff;width: 100px;height: 100px;"><span
                                                        class="inner-icon"><span class="icon"><i
                                                                class="fa fa-desktop"
                                                                style="color:#61bd5e; font-size:40px; line-height:40px; vertical-align: middle;"></i></span></span>
                                            </div>
                                            <div class="content-inner">
                                                <div class="widget-title-icon-box "><h3 class="icon-box-title"
                                                                                        style="color: #ffffff;font-size: 20px; line-height: 20px;font-weight: 700;margin-bottom: 20px;">
                                                        Learn Anything Online</h3></div>
                                                <div class="desc-icon-box"><p
                                                            style="color: #dbecda;font-size: 15px;font-weight: 400;line-height: 22px;">
                                                        We pride ourselves on providing the most up-to-date content
                                                        for our students to learn each course is delivered.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--end smicon-box--></div>
                                </a></div>
                        </div>
                    </div>
                    <div class="panel-grid-cell" id="pgc-1642-1-2">
                        <div class="so-panel widget widget_single-images widget_single-images panel-first-child panel-last-child"
                             id="panel-1642-1-2-0">
                            <div class="custom-images panel-widget-style">
                                <div class="thim-widget-single-images thim-widget-single-images-base">
                                    <div class="single-image center"><img
                                                src="{{ asset('front/images/images-book.png') }}" width="432"
                                                height="376" alt=""/></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-grid" id="pg-1642-2">
                <div class="panel-grid-cell" id="pgc-1642-2-0">
                    <div class="so-panel widget widget_courses widget_courses panel-first-child panel-last-child"
                         id="panel-1642-2-0-0">
                        <div class="thim-widget-courses thim-widget-courses-base">
                            <div class="widget-box-title"><h2
                                        style="color:#111111;font-size:24px;line-height:24px;font-weight:600"
                                        class="title">Popular Courses</h2>

                                <p style="color: #878787;font-size: 16px;font-weight: normal;"> Pellentesque cursus
                                    arcu id magna euismod in elementum purus molestie.</p><a
                                        href="courses/index.html" class="browse-all-courses">Browse All Courses<i
                                            class="fa fa-angle-double-right"></i></a></div>
                            <div class="wrapper-item row courses-slider" data-column="4" data-show-page-nav="1"
                                 itemscope itemtype="http://schema.org/CreativeWork">
                                <div class="col-sm-12">

                                    <div class="inner-course">
                                        <div class="course-thumbnail">
                                            <a itemprop="url" href="courses/html5-and-more/index.html"> <img
                                                        width="480" height="480"
                                                        src="../../tpdm.foobla.netdna-cdn.com/elearningwp/wp-content/uploads/2015/06/11-480x480.jpg"
                                                        class="attachment-medium wp-post-image" alt="11"
                                                        itemprop="image"/></a>

                                            <div class="course-date">
                                                <span class="course-month">Jun</span>
                                                <span class="course-day">05</span>
                                                <span class="course-year">2015</span>
                                            </div>
                                        </div>
                                        <div class="course-title" itemprop="name">
                                            <h2>
                                                <a href="courses/html5-and-more/index.html" itemprop="url">
                                                    HTML5 and More </a>
                                            </h2>
                                        </div>
                                        <div class="course-instructor" itemprop="creator">
                                            Teacher: <a href="buddy-profile/camthu/courses/index.html">
                                                <span>Sk Delpan</span>
                                                    <span class="avatar"><img
                                                                src="{{ asset('font/wp-content/uploads/avatars/1/4fdff87bd8105e1bc7ae137a34d218e2-bpfull.jpg') }}"
                                                                class="avatar user-9-avatar avatar-32 photo" width="32"
                                                                height="32" alt="Profile photo of Sk Delpan"/></span>
                                            </a>
                                        </div>
                                        <div class="course-price">
                                            Free
                                        </div>
                                        <div class="course-student">
					<span>
						<i class="dashicons dashicons-groups"></i>
						121 students					</span>
											<span class="course-rating">
							<div class="course-rate">
                                <div class="review-stars-rated">
                                    <div class="review-stars thim-review">
                                        <span style="width:82.5%;"></span>
                                    </div>
                                </div>
                                <p class="review-number">6 ratings</p>
                            </div>						</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">

                                    <div class="inner-course">
                                        <div class="course-thumbnail">
                                            <a itemprop="url" href="courses/how-to-use-learnpress/index.html"> <img
                                                        width="480" height="480"
                                                        src="../../tpdm.foobla.netdna-cdn.com/elearningwp/wp-content/uploads/2015/06/learnpress-course-480x480.jpg"
                                                        class="attachment-medium wp-post-image"
                                                        alt="learnpress-course" itemprop="image"/></a>

                                            <div class="course-date">
                                                <span class="course-month">May</span>
                                                <span class="course-day">20</span>
                                                <span class="course-year">2015</span>
                                            </div>
                                        </div>
                                        <div class="course-title" itemprop="name">
                                            <h2>
                                                <a href="courses/how-to-use-learnpress/index.html" itemprop="url">
                                                    How to use LearnPress </a>
                                            </h2>
                                        </div>
                                        <div class="course-instructor" itemprop="creator">
                                            Teacher: <a href="buddy-profile/admin/courses/index.html">
                                                <span>John Doe</span>
                                                    <span class="avatar"><img
                                                                src="../../tpdm.foobla.netdna-cdn.com/elearningwp/wp-content/uploads/avatars/1/4fdff87bd8105e1bc7ae137a34d218e2-bpthumb.jpg"
                                                                class="avatar user-1-avatar avatar-32 photo" width="32"
                                                                height="32" alt="Profile photo of John Doe"/></span>
                                            </a>
                                        </div>
                                        <div class="course-price">
                                            Free
                                        </div>
                                        <div class="course-student">
					<span>
						<i class="dashicons dashicons-groups"></i>
						42 students					</span>
											<span class="course-rating">
							<div class="course-rate">
                                <div class="review-stars-rated">
                                    <div class="review-stars thim-review">
                                        <span style="width:80%;"></span>
                                    </div>
                                </div>
                                <p class="review-number">3 ratings</p>
                            </div>						</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">

                                    <div class="inner-course">
                                        <div class="course-thumbnail">
                                            <a itemprop="url" href="courses/jquery-tutorial/index.html"> <img
                                                        width="480" height="480"
                                                        src="../../tpdm.foobla.netdna-cdn.com/elearningwp/wp-content/uploads/2015/06/14-480x480.jpg"
                                                        class="attachment-medium wp-post-image" alt="14"
                                                        itemprop="image"/></a>

                                            <div class="course-date">
                                                <span class="course-month">Jun</span>
                                                <span class="course-day">05</span>
                                                <span class="course-year">2015</span>
                                            </div>
                                        </div>
                                        <div class="course-title" itemprop="name">
                                            <h2>
                                                <a href="courses/jquery-tutorial/index.html" itemprop="url">
                                                    JQuery Tutorial </a>
                                            </h2>
                                        </div>
                                        <div class="course-instructor" itemprop="creator">
                                            Teacher: <a href="buddy-profile/daidu/courses/index.html">
                                                <span>Stephen Doe</span>
                                                    <span class="avatar"><img
                                                                src="../../tpdm.foobla.netdna-cdn.com/elearningwp/wp-content/uploads/avatars/5/ed1434179bc5fa7919401ad32b9e7dd7-bpthumb.jpg"
                                                                class="avatar user-5-avatar avatar-32 photo" width="32"
                                                                height="32" alt="Profile photo of Stephen Doe"/></span>
                                            </a>
                                        </div>
                                        <div class="course-price">
                                            Free
                                        </div>
                                        <div class="course-student">
					<span>
						<i class="dashicons dashicons-groups"></i>
						31 students					</span>
											<span class="course-rating">
							<div class="course-rate">
                                <div class="review-stars-rated">
                                    <div class="review-stars thim-review">
                                        <span style="width:90%;"></span>
                                    </div>
                                </div>
                                <p class="review-number">5 ratings</p>
                            </div>						</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">

                                    <div class="inner-course">
                                        <div class="course-thumbnail">
                                            <a itemprop="url" href="courses/javascript-tutorial/index.html"> <img
                                                        width="480" height="480"
                                                        src="../../tpdm.foobla.netdna-cdn.com/elearningwp/wp-content/uploads/2015/06/10-480x480.jpg"
                                                        class="attachment-medium wp-post-image" alt="10"
                                                        itemprop="image"/></a>

                                            <div class="course-date">
                                                <span class="course-month">Jun</span>
                                                <span class="course-day">05</span>
                                                <span class="course-year">2015</span>
                                            </div>
                                        </div>
                                        <div class="course-title" itemprop="name">
                                            <h2>
                                                <a href="courses/javascript-tutorial/index.html" itemprop="url">
                                                    JavaScript Tutorial </a>
                                            </h2>
                                        </div>
                                        <div class="course-instructor" itemprop="creator">
                                            Teacher: <a href="buddy-profile/camthu/courses/index.html">
                                                <span>Sk Delpan</span>
                                                    <span class="avatar"><img
                                                                src="../../tpdm.foobla.netdna-cdn.com/elearningwp/wp-content/uploads/avatars/9/56da6c828a862f52ca1f28c88a7e863f-bpthumb.jpg"
                                                                class="avatar user-9-avatar avatar-32 photo" width="32"
                                                                height="32" alt="Profile photo of Sk Delpan"/></span>
                                            </a>
                                        </div>
                                        <div class="course-price">
                                            Free
                                        </div>
                                        <div class="course-student">
					<span>
						<i class="dashicons dashicons-groups"></i>
						15 students					</span>
											<span class="course-rating">
							<div class="course-rate">
                                <div class="review-stars-rated">
                                    <div class="review-stars thim-review">
                                        <span style="width:90%;"></span>
                                    </div>
                                </div>
                                <p class="review-number">2 ratings</p>
                            </div>						</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">

                                    <div class="inner-course">
                                        <div class="course-thumbnail">
                                            <a itemprop="url" href="courses/php-5-tutorial/index.html"> <img
                                                        width="480" height="480"
                                                        src="../../tpdm.foobla.netdna-cdn.com/elearningwp/wp-content/uploads/2015/06/php-course-480x480.jpg"
                                                        class="attachment-medium wp-post-image" alt="php-course"
                                                        itemprop="image"/></a>

                                            <div class="course-date">
                                                <span class="course-month">Jun</span>
                                                <span class="course-day">05</span>
                                                <span class="course-year">2015</span>
                                            </div>
                                        </div>
                                        <div class="course-title" itemprop="name">
                                            <h2>
                                                <a href="courses/php-5-tutorial/index.html" itemprop="url">
                                                    PHP 5 Tutorial </a>
                                            </h2>
                                        </div>
                                        <div class="course-instructor" itemprop="creator">
                                            Teacher: <a href="buddy-profile/camthu/courses/index.html">
                                                <span>Sk Delpan</span>
                                                    <span class="avatar"><img
                                                                src="../../tpdm.foobla.netdna-cdn.com/elearningwp/wp-content/uploads/avatars/9/56da6c828a862f52ca1f28c88a7e863f-bpthumb.jpg"
                                                                class="avatar user-9-avatar avatar-32 photo" width="32"
                                                                height="32" alt="Profile photo of Sk Delpan"/></span>
                                            </a>
                                        </div>
                                        <div class="course-price">
                                            Free
                                        </div>
                                        <div class="course-student">
					<span>
						<i class="dashicons dashicons-groups"></i>
						9 students					</span>
											<span class="course-rating">
							<div class="course-rate">
                                <div class="review-stars-rated">
                                    <div class="review-stars thim-review">
                                        <span style="width:85%;"></span>
                                    </div>
                                </div>
                                <p class="review-number">4 ratings</p>
                            </div>						</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">

                                    <div class="inner-course">
                                        <div class="course-thumbnail">
                                            <a itemprop="url" href="courses/htmlcss/index.html"> <img width="480"
                                                                                                      height="480"
                                                                                                      src="../../tpdm.foobla.netdna-cdn.com/elearningwp/wp-content/uploads/2015/06/01-480x480.jpg"
                                                                                                      class="attachment-medium wp-post-image"
                                                                                                      alt="01"
                                                                                                      itemprop="image"/></a>

                                            <div class="course-date">
                                                <span class="course-month">Jun</span>
                                                <span class="course-day">05</span>
                                                <span class="course-year">2015</span>
                                            </div>
                                        </div>
                                        <div class="course-title" itemprop="name">
                                            <h2>
                                                <a href="courses/htmlcss/index.html" itemprop="url">
                                                    HTML/CSS </a>
                                            </h2>
                                        </div>
                                        <div class="course-instructor" itemprop="creator">
                                            Teacher: <a href="buddy-profile/camthu/courses/index.html">
                                                <span>Sk Delpan</span>
                                                    <span class="avatar"><img
                                                                src="../../tpdm.foobla.netdna-cdn.com/elearningwp/wp-content/uploads/avatars/9/56da6c828a862f52ca1f28c88a7e863f-bpthumb.jpg"
                                                                class="avatar user-9-avatar avatar-32 photo" width="32"
                                                                height="32" alt="Profile photo of Sk Delpan"/></span>
                                            </a>
                                        </div>
                                        <div class="course-price">
                                            Free
                                        </div>
                                        <div class="course-student">
					<span>
						<i class="dashicons dashicons-groups"></i>
						8 students					</span>
											<span class="course-rating">
							<div class="course-rate">
                                <div class="review-stars-rated">
                                    <div class="review-stars thim-review">
                                        <span style="width:80%;"></span>
                                    </div>
                                </div>
                                <p class="review-number">1 rating</p>
                            </div>						</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">

                                    <div class="inner-course">
                                        <div class="course-thumbnail">
                                            <a itemprop="url" href="courses/angularjs-tutorial/index.html"> <img
                                                        width="480" height="480"
                                                        src="../../tpdm.foobla.netdna-cdn.com/elearningwp/wp-content/uploads/2015/06/08-480x480.jpg"
                                                        class="attachment-medium wp-post-image" alt="08"
                                                        itemprop="image"/></a>

                                            <div class="course-date">
                                                <span class="course-month">Jun</span>
                                                <span class="course-day">05</span>
                                                <span class="course-year">2015</span>
                                            </div>
                                        </div>
                                        <div class="course-title" itemprop="name">
                                            <h2>
                                                <a href="courses/angularjs-tutorial/index.html" itemprop="url">
                                                    AngularJS Tutorial </a>
                                            </h2>
                                        </div>
                                        <div class="course-instructor" itemprop="creator">
                                            Teacher: <a href="buddy-profile/camthu/courses/index.html">
                                                <span>Sk Delpan</span>
                                                    <span class="avatar"><img
                                                                src="../../tpdm.foobla.netdna-cdn.com/elearningwp/wp-content/uploads/avatars/9/56da6c828a862f52ca1f28c88a7e863f-bpthumb.jpg"
                                                                class="avatar user-9-avatar avatar-32 photo" width="32"
                                                                height="32" alt="Profile photo of Sk Delpan"/></span>
                                            </a>
                                        </div>
                                        <div class="course-price">
                                            &#36; 159.00
                                        </div>
                                        <div class="course-student">
					<span>
						<i class="dashicons dashicons-groups"></i>
						6 students					</span>
											<span class="course-rating">
							<div class="course-rate">
                                <div class="review-stars-rated">
                                    <div class="review-stars thim-review">
                                        <span style="width:80%;"></span>
                                    </div>
                                </div>
                                <p class="review-number">4 ratings</p>
                            </div>						</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">

                                    <div class="inner-course">
                                        <div class="course-thumbnail">
                                            <a itemprop="url" href="courses/learning-sass/index.html"> <img
                                                        width="480" height="480"
                                                        src="../../tpdm.foobla.netdna-cdn.com/elearningwp/wp-content/uploads/2015/06/06-480x480.jpg"
                                                        class="attachment-medium wp-post-image" alt="06"
                                                        itemprop="image"/></a>

                                            <div class="course-date">
                                                <span class="course-month">Jun</span>
                                                <span class="course-day">13</span>
                                                <span class="course-year">2015</span>
                                            </div>
                                        </div>
                                        <div class="course-title" itemprop="name">
                                            <h2>
                                                <a href="courses/learning-sass/index.html" itemprop="url">
                                                    Learning Sass </a>
                                            </h2>
                                        </div>
                                        <div class="course-instructor" itemprop="creator">
                                            Teacher: <a href="buddy-profile/taibeo/courses/index.html">
                                                <span>Delete Cache</span>
                                                    <span class="avatar"><img
                                                                src="../../tpdm.foobla.netdna-cdn.com/elearningwp/wp-content/uploads/avatars/11/be03bad314701171999c3a3c3e797d1b-bpthumb.jpg"
                                                                class="avatar user-11-avatar avatar-32 photo" width="32"
                                                                height="32" alt="Profile photo of Delete Cache"/></span>
                                            </a>
                                        </div>
                                        <div class="course-price">
                                            &#36; 199.00
                                        </div>
                                        <div class="course-student">
					<span>
						<i class="dashicons dashicons-groups"></i>
						3 students					</span>
											<span class="course-rating">
							<div class="course-rate">
                                <div class="review-stars-rated">
                                    <div class="review-stars thim-review">
                                        <span style="width:60%;"></span>
                                    </div>
                                </div>
                                <p class="review-number">1 rating</p>
                            </div>						</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end--></div>
                    </div>
                </div>
            </div>
            <div class="panel-grid" id="pg-1642-3">
                <div class="siteorigin-panels-stretch panel-row-style" style="background-color:#f6f9fa;"
                     data-stretch-type="full">
                    <div class="panel-grid-cell" id="pgc-1642-3-0">
                        <div class="so-panel widget widget_courses widget_courses panel-first-child panel-last-child"
                             id="panel-1642-3-0-0">
                            <div class="thim-widget-courses thim-widget-courses-base">
                                <div class="widget-box-title"><h2
                                            style="color:#111111;font-size:24px;line-height:24px;font-weight:600"
                                            class="title">Latest Courses</h2>

                                    <p style="color: #878787;font-size: 16px;font-weight: normal;"> Pellentesque
                                        cursus arcu id magna euismod in elementum purus molestie.</p><a
                                            href="courses/index.html" class="browse-all-courses">Browse All
                                        Courses<i class="fa fa-angle-double-right"></i></a></div>
                                <div class="wrapper-item row courses-slider" data-column="4" data-show-page-nav="1"
                                     itemscope itemtype="http://schema.org/CreativeWork">
                                    <div class="col-sm-12">

                                        <div class="inner-course">
                                            <div class="course-thumbnail">
                                                <a itemprop="url" href="courses/node/index.html"> <img width="480"
                                                                                                       height="480"
                                                                                                       src="../../tpdm.foobla.netdna-cdn.com/elearningwp/wp-content/uploads/2015/06/05-480x480.jpg"
                                                                                                       class="attachment-medium wp-post-image"
                                                                                                       alt="05"
                                                                                                       itemprop="image"/></a>

                                                <div class="course-date">
                                                    <span class="course-month">Jun</span>
                                                    <span class="course-day">13</span>
                                                    <span class="course-year">2015</span>
                                                </div>
                                            </div>
                                            <div class="course-title" itemprop="name">
                                                <h2>
                                                    <a href="courses/node/index.html" itemprop="url">
                                                        Using Node </a>
                                                </h2>
                                            </div>
                                            <div class="course-instructor" itemprop="creator">
                                                Teacher: <a href="buddy-profile/taibeo/courses/index.html">
                                                    <span>Delete Cache</span>
                                                        <span class="avatar"><img
                                                                    src="../../tpdm.foobla.netdna-cdn.com/elearningwp/wp-content/uploads/avatars/11/be03bad314701171999c3a3c3e797d1b-bpthumb.jpg"
                                                                    class="avatar user-11-avatar avatar-32 photo"
                                                                    width="32" height="32"
                                                                    alt="Profile photo of Delete Cache"/></span>
                                                </a>
                                            </div>
                                            <div class="course-price">
                                                &#36; 299.00
                                            </div>
                                            <div class="course-student">
					<span>
						<i class="dashicons dashicons-groups"></i>
						4 students					</span>
											<span class="course-rating">
							<div class="course-rate">
                                <div class="review-stars-rated">
                                    <div class="review-stars thim-review">
                                        <span style="width:80%;"></span>
                                    </div>
                                </div>
                                <p class="review-number">1 rating</p>
                            </div>						</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">

                                        <div class="inner-course">
                                            <div class="course-thumbnail">
                                                <a itemprop="url" href="courses/python/index.html"> <img width="480"
                                                                                                         height="480"
                                                                                                         src="../../tpdm.foobla.netdna-cdn.com/elearningwp/wp-content/uploads/2015/06/04-480x480.jpg"
                                                                                                         class="attachment-medium wp-post-image"
                                                                                                         alt="04"
                                                                                                         itemprop="image"/></a>

                                                <div class="course-date">
                                                    <span class="course-month">Jun</span>
                                                    <span class="course-day">13</span>
                                                    <span class="course-year">2015</span>
                                                </div>
                                            </div>
                                            <div class="course-title" itemprop="name">
                                                <h2>
                                                    <a href="courses/python/index.html" itemprop="url">
                                                        Great Python </a>
                                                </h2>
                                            </div>
                                            <div class="course-instructor" itemprop="creator">
                                                Teacher: <a href="buddy-profile/taibeo/courses/index.html">
                                                    <span>Delete Cache</span>
                                                        <span class="avatar"><img
                                                                    src="../../tpdm.foobla.netdna-cdn.com/elearningwp/wp-content/uploads/avatars/11/be03bad314701171999c3a3c3e797d1b-bpthumb.jpg"
                                                                    class="avatar user-11-avatar avatar-32 photo"
                                                                    width="32" height="32"
                                                                    alt="Profile photo of Delete Cache"/></span>
                                                </a>
                                            </div>
                                            <div class="course-price">
                                                &#36; 69.00
                                            </div>
                                            <div class="course-student">
					<span>
						<i class="dashicons dashicons-groups"></i>
						4 students					</span>
											<span class="course-rating">
							<div class="course-rate">
                                <div class="review-stars-rated">
                                    <div class="review-stars thim-review">
                                        <span style="width:60%;"></span>
                                    </div>
                                </div>
                                <p class="review-number">1 rating</p>
                            </div>						</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">

                                        <div class="inner-course">
                                            <div class="course-thumbnail">
                                                <a itemprop="url" href="courses/easy-zurb-foundation/index.html">
                                                    <img width="480" height="480"
                                                         src="../../tpdm.foobla.netdna-cdn.com/elearningwp/wp-content/uploads/2015/06/09-480x480.jpg"
                                                         class="attachment-medium wp-post-image" alt="09"
                                                         itemprop="image"/></a>

                                                <div class="course-date">
                                                    <span class="course-month">Jun</span>
                                                    <span class="course-day">13</span>
                                                    <span class="course-year">2015</span>
                                                </div>
                                            </div>
                                            <div class="course-title" itemprop="name">
                                                <h2>
                                                    <a href="courses/easy-zurb-foundation/index.html"
                                                       itemprop="url">
                                                        Easy Zurb Foundation </a>
                                                </h2>
                                            </div>
                                            <div class="course-instructor" itemprop="creator">
                                                Teacher: <a href="buddy-profile/taibeo/courses/index.html">
                                                    <span>Delete Cache</span>
                                                        <span class="avatar"><img
                                                                    src="../../tpdm.foobla.netdna-cdn.com/elearningwp/wp-content/uploads/avatars/11/be03bad314701171999c3a3c3e797d1b-bpthumb.jpg"
                                                                    class="avatar user-11-avatar avatar-32 photo"
                                                                    width="32" height="32"
                                                                    alt="Profile photo of Delete Cache"/></span>
                                                </a>
                                            </div>
                                            <div class="course-price">
                                                &#36; 75.00
                                            </div>
                                            <div class="course-student">
					<span>
						<i class="dashicons dashicons-groups"></i>
						4 students					</span>
											<span class="course-rating">
							<div class="course-rate">
                                <div class="review-stars-rated">
                                    <div class="review-stars thim-review">
                                        <span style="width:80%;"></span>
                                    </div>
                                </div>
                                <p class="review-number">1 rating</p>
                            </div>						</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">

                                        <div class="inner-course">
                                            <div class="course-thumbnail">
                                                <a itemprop="url" href="courses/learning-sass/index.html"> <img
                                                            width="480" height="480"
                                                            src="../../tpdm.foobla.netdna-cdn.com/elearningwp/wp-content/uploads/2015/06/06-480x480.jpg"
                                                            class="attachment-medium wp-post-image" alt="06"
                                                            itemprop="image"/></a>

                                                <div class="course-date">
                                                    <span class="course-month">Jun</span>
                                                    <span class="course-day">13</span>
                                                    <span class="course-year">2015</span>
                                                </div>
                                            </div>
                                            <div class="course-title" itemprop="name">
                                                <h2>
                                                    <a href="courses/learning-sass/index.html" itemprop="url">
                                                        Learning Sass </a>
                                                </h2>
                                            </div>
                                            <div class="course-instructor" itemprop="creator">
                                                Teacher: <a href="buddy-profile/taibeo/courses/index.html">
                                                    <span>Delete Cache</span>
                                                        <span class="avatar"><img
                                                                    src="../../tpdm.foobla.netdna-cdn.com/elearningwp/wp-content/uploads/avatars/11/be03bad314701171999c3a3c3e797d1b-bpthumb.jpg"
                                                                    class="avatar user-11-avatar avatar-32 photo"
                                                                    width="32" height="32"
                                                                    alt="Profile photo of Delete Cache"/></span>
                                                </a>
                                            </div>
                                            <div class="course-price">
                                                &#36; 199.00
                                            </div>
                                            <div class="course-student">
					<span>
						<i class="dashicons dashicons-groups"></i>
						3 students					</span>
											<span class="course-rating">
							<div class="course-rate">
                                <div class="review-stars-rated">
                                    <div class="review-stars thim-review">
                                        <span style="width:60%;"></span>
                                    </div>
                                </div>
                                <p class="review-number">1 rating</p>
                            </div>						</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">

                                        <div class="inner-course">
                                            <div class="course-thumbnail">
                                                <a itemprop="url" href="courses/sql-tutorial-2/index.html"> <img
                                                            width="480" height="480"
                                                            src="../../tpdm.foobla.netdna-cdn.com/elearningwp/wp-content/uploads/2015/06/07-480x480.jpg"
                                                            class="attachment-medium wp-post-image" alt="07"
                                                            itemprop="image"/></a>

                                                <div class="course-date">
                                                    <span class="course-month">Jun</span>
                                                    <span class="course-day">13</span>
                                                    <span class="course-year">2015</span>
                                                </div>
                                            </div>
                                            <div class="course-title" itemprop="name">
                                                <h2>
                                                    <a href="courses/sql-tutorial-2/index.html" itemprop="url">
                                                        Less Master </a>
                                                </h2>
                                            </div>
                                            <div class="course-instructor" itemprop="creator">
                                                Teacher: <a href="buddy-profile/taibeo/courses/index.html">
                                                    <span>Delete Cache</span>
                                                        <span class="avatar"><img
                                                                    src="../../tpdm.foobla.netdna-cdn.com/elearningwp/wp-content/uploads/avatars/11/be03bad314701171999c3a3c3e797d1b-bpthumb.jpg"
                                                                    class="avatar user-11-avatar avatar-32 photo"
                                                                    width="32" height="32"
                                                                    alt="Profile photo of Delete Cache"/></span>
                                                </a>
                                            </div>
                                            <div class="course-price">
                                                &#36; 99.99
                                            </div>
                                            <div class="course-student">
					<span>
						<i class="dashicons dashicons-groups"></i>
						4 students					</span>
											<span class="course-rating">
							<div class="course-rate">
                                <div class="review-stars-rated">
                                    <div class="review-stars thim-review">
                                        <span style="width:80%;"></span>
                                    </div>
                                </div>
                                <p class="review-number">1 rating</p>
                            </div>						</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">

                                        <div class="inner-course">
                                            <div class="course-thumbnail">
                                                <a itemprop="url" href="courses/angularjs-tutorial/index.html"> <img
                                                            width="480" height="480"
                                                            src="../../tpdm.foobla.netdna-cdn.com/elearningwp/wp-content/uploads/2015/06/08-480x480.jpg"
                                                            class="attachment-medium wp-post-image" alt="08"
                                                            itemprop="image"/></a>

                                                <div class="course-date">
                                                    <span class="course-month">Jun</span>
                                                    <span class="course-day">05</span>
                                                    <span class="course-year">2015</span>
                                                </div>
                                            </div>
                                            <div class="course-title" itemprop="name">
                                                <h2>
                                                    <a href="courses/angularjs-tutorial/index.html" itemprop="url">
                                                        AngularJS Tutorial </a>
                                                </h2>
                                            </div>
                                            <div class="course-instructor" itemprop="creator">
                                                Teacher: <a href="buddy-profile/camthu/courses/index.html">
                                                    <span>Sk Delpan</span>
                                                        <span class="avatar"><img
                                                                    src="../../tpdm.foobla.netdna-cdn.com/elearningwp/wp-content/uploads/avatars/9/56da6c828a862f52ca1f28c88a7e863f-bpthumb.jpg"
                                                                    class="avatar user-9-avatar avatar-32 photo"
                                                                    width="32" height="32"
                                                                    alt="Profile photo of Sk Delpan"/></span>
                                                </a>
                                            </div>
                                            <div class="course-price">
                                                &#36; 159.00
                                            </div>
                                            <div class="course-student">
					<span>
						<i class="dashicons dashicons-groups"></i>
						6 students					</span>
											<span class="course-rating">
							<div class="course-rate">
                                <div class="review-stars-rated">
                                    <div class="review-stars thim-review">
                                        <span style="width:80%;"></span>
                                    </div>
                                </div>
                                <p class="review-number">4 ratings</p>
                            </div>						</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">

                                        <div class="inner-course">
                                            <div class="course-thumbnail">
                                                <a itemprop="url" href="courses/html5-and-more/index.html"> <img
                                                            width="480" height="480"
                                                            src="../../tpdm.foobla.netdna-cdn.com/elearningwp/wp-content/uploads/2015/06/11-480x480.jpg"
                                                            class="attachment-medium wp-post-image" alt="11"
                                                            itemprop="image"/></a>

                                                <div class="course-date">
                                                    <span class="course-month">Jun</span>
                                                    <span class="course-day">05</span>
                                                    <span class="course-year">2015</span>
                                                </div>
                                            </div>
                                            <div class="course-title" itemprop="name">
                                                <h2>
                                                    <a href="courses/html5-and-more/index.html" itemprop="url">
                                                        HTML5 and More </a>
                                                </h2>
                                            </div>
                                            <div class="course-instructor" itemprop="creator">
                                                Teacher: <a href="buddy-profile/camthu/courses/index.html">
                                                    <span>Sk Delpan</span>
                                                        <span class="avatar"><img
                                                                    src="../../tpdm.foobla.netdna-cdn.com/elearningwp/wp-content/uploads/avatars/9/56da6c828a862f52ca1f28c88a7e863f-bpthumb.jpg"
                                                                    class="avatar user-9-avatar avatar-32 photo"
                                                                    width="32" height="32"
                                                                    alt="Profile photo of Sk Delpan"/></span>
                                                </a>
                                            </div>
                                            <div class="course-price">
                                                Free
                                            </div>
                                            <div class="course-student">
					<span>
						<i class="dashicons dashicons-groups"></i>
						121 students					</span>
											<span class="course-rating">
							<div class="course-rate">
                                <div class="review-stars-rated">
                                    <div class="review-stars thim-review">
                                        <span style="width:82.5%;"></span>
                                    </div>
                                </div>
                                <p class="review-number">6 ratings</p>
                            </div>						</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">

                                        <div class="inner-course">
                                            <div class="course-thumbnail">
                                                <a itemprop="url" href="courses/jquery-tutorial/index.html"> <img
                                                            width="480" height="480"
                                                            src="{{ asset('front/images/tuto/14-480x480.jpg') }}"
                                                            class="attachment-medium wp-post-image" alt="14"
                                                            itemprop="image"/></a>

                                                <div class="course-date">
                                                    <span class="course-month">Jun</span>
                                                    <span class="course-day">05</span>
                                                    <span class="course-year">2015</span>
                                                </div>
                                            </div>
                                            <div class="course-title" itemprop="name">
                                                <h2>
                                                    <a href="courses/jquery-tutorial/index.html" itemprop="url">
                                                        JQuery Tutorial </a>
                                                </h2>
                                            </div>
                                            <div class="course-instructor" itemprop="creator">
                                                Teacher: <a href="buddy-profile/daidu/courses/index.html">
                                                    <span>Stephen Doe</span>
                                                        <span class="avatar"><img
                                                                    src="../../tpdm.foobla.netdna-cdn.com/elearningwp/wp-content/uploads/avatars/5/ed1434179bc5fa7919401ad32b9e7dd7-bpthumb.jpg"
                                                                    class="avatar user-5-avatar avatar-32 photo"
                                                                    width="32" height="32"
                                                                    alt="Profile photo of Stephen Doe"/></span>
                                                </a>
                                            </div>
                                            <div class="course-price">
                                                Free
                                            </div>
                                            <div class="course-student">
					<span>
						<i class="dashicons dashicons-groups"></i>
						31 students					</span>
											<span class="course-rating">
							<div class="course-rate">
                                <div class="review-stars-rated">
                                    <div class="review-stars thim-review">
                                        <span style="width:90%;"></span>
                                    </div>
                                </div>
                                <p class="review-number">5 ratings</p>
                            </div>						</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end--></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-grid" id="pg-1642-4">
                <div class="panel-grid-cell" id="pgc-1642-4-0">
                    <div class="so-panel widget widget_post-display widget_post-display panel-first-child panel-last-child"
                         id="panel-1642-4-0-0">
                        <div class="thim-widget-post-display thim-widget-post-display-basic-40cd750bba98">
                            <div class="widget-box-title"><h3
                                        style="color:#111111;font-size:24px;line-height:24px;font-weight:700"
                                        class="title">Latest News</h3></div>
                            <div class="posts-display row">
                                <article class="col-md-12 col-sm-6 col-xs-6">
                                    <div class="entry-thumbnail"><a href="blog/update-sources/index.html"><img
                                                    src="../../tpdm.foobla.netdna-cdn.com/elearningwp/wp-content/uploads/2015/06/shutterstock_171259895-120x80.jpg"
                                                    alt="Update sources" title="Update sources"/></a></div>
                                    <div class="entry-container"><h3><a href="blog/update-sources/index.html">Update
                                                sources</a></h3>

                                        <div class="entry-meta"><a class="author"
                                                                   href="blog/author/admin/index.html">John
                                                Doe</a><span class="time">February 10, 2015</span><a
                                                    href="blog/update-sources/index.html#respond"
                                                    class="comments-link">0 comment</a></div>
                                    </div>
                                </article>
                                <article class="col-md-12 col-sm-6 col-xs-6">
                                    <div class="entry-thumbnail"><a
                                                href="blog/new-classes-for-this-month/index.html"><img
                                                    src="../../tpdm.foobla.netdna-cdn.com/elearningwp/wp-content/uploads/2015/06/shutterstock_184641842-120x80.jpg"
                                                    alt="New classes for this month"
                                                    title="New classes for this month"/></a></div>
                                    <div class="entry-container"><h3><a
                                                    href="blog/new-classes-for-this-month/index.html">New classes
                                                for this month</a></h3>

                                        <div class="entry-meta"><a class="author"
                                                                   href="blog/author/admin/index.html">John
                                                Doe</a><span class="time">February 10, 2015</span><a
                                                    href="blog/new-classes-for-this-month/index.html#respond"
                                                    class="comments-link">0 comment</a></div>
                                    </div>
                                </article>
                                <article class="col-md-12 col-sm-6 col-xs-6">
                                    <div class="entry-thumbnail"><a href="blog/gallery-post/index.html"><img
                                                    src="../../tpdm.foobla.netdna-cdn.com/elearningwp/wp-content/uploads/2015/01/NMP_20101023_0016a-120x80.jpg"
                                                    alt="Gallery Post" title="Gallery Post"/></a></div>
                                    <div class="entry-container"><h3><a href="blog/gallery-post/index.html">Gallery
                                                Post</a></h3>

                                        <div class="entry-meta"><a class="author"
                                                                   href="blog/author/admin/index.html">John
                                                Doe</a><span class="time">February 4, 2015</span><a
                                                    href="blog/gallery-post/index.html#comments"
                                                    class="comments-link">1 comment</a></div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-grid-cell" id="pgc-1642-4-1">
                    <div class="so-panel widget widget_testimonials widget_testimonials panel-first-child panel-last-child"
                         id="panel-1642-4-1-0">
                        <div class="thim-widget-testimonials thim-widget-testimonials-base">
                            <div class="widget-box-title"><h3
                                        style="color:#111111;font-size:24px;line-height:24px;font-weight:700"
                                        class="title">Testimonials</h3></div>
                            <div class="sc-testimonials default">
                                <div class="item_testimonial">
                                    <div class="testimonial_content" style="background:#f6f9fa;">LearnPress
                                        WordPress LMS Plugindesigned with flexible &#38; scalable eLearning system
                                        in mind. This WordPress eLearning Plugin comes up with10+ addons (and
                                        counting) to extend the ability of this WordPressLearning Management
                                        System. This is incredible.<span class="arrow-bottom"
                                                                         style="border-top: 15px solid #f6f9fa"></span>
                                    </div>
                                    <div class="testimonial-footer">
                                        <div class="avatar-testimonial"><img
                                                    src="../../tpdm.foobla.netdna-cdn.com/elearningwp/wp-content/uploads/2015/06/10580028764_fc3e8f5a60_o1-90x90.jpg"
                                                    alt="Susan Jackson" title="Susan Jackson"/></div>
                                        <div class="title-regency"><h6><a href="http://foobla.com/SusanJackson">
                                                    Susan Jackson </a></h6>

                                            <div class="regency">Leader of ObTeam</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item_testimonial">
                                    <div class="testimonial_content" style="background:#f6f9fa;">LearnPress is a
                                        comprehensive LMS solution for WordPress. This WordPress LMS Plugin can be
                                        used to easily create &#38; sell courses online. Each course curriculum can
                                        be made with lessons &#38; quizzes which can be managed with easy-to-use
                                        user interface, it never gets easier with LearnPress.<span
                                                class="arrow-bottom" style="border-top: 15px solid #f6f9fa"></span>
                                    </div>
                                    <div class="testimonial-footer">
                                        <div class="avatar-testimonial"><img
                                                    src="../../tpdm.foobla.netdna-cdn.com/elearningwp/wp-content/uploads/2015/06/12123151116_550cbe8ef7_h-90x90.jpg"
                                                    alt="Maxx Steward" title="Maxx Steward"/></div>
                                        <div class="title-regency"><h6><a href="http://google.com/"> Maxx
                                                    Steward </a></h6>

                                            <div class="regency">Software Engineer at Google</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item_testimonial">
                                    <div class="testimonial_content" style="background:#f6f9fa;">LearnPress is a
                                        WordPress complete solution for creating a Learning Management System (LMS).
                                        It can help me to create courses, lessons and quizzes and manage them as
                                        easy as I want. I've learned a lot, and I highly recommend it. Thank
                                        you.<span class="arrow-bottom"
                                                  style="border-top: 15px solid #f6f9fa"></span></div>
                                    <div class="testimonial-footer">
                                        <div class="avatar-testimonial"><img
                                                    src="../../tpdm.foobla.netdna-cdn.com/elearningwp/wp-content/uploads/2015/06/10842728154_1e7bf6c522_o-90x90.jpg"
                                                    alt="Anna Lusby" title="Anna Lusby"/></div>
                                        <div class="title-regency"><h6><a href="http://foobla.com/AnnaLusby"> Anna
                                                    Lusby </a></h6>

                                            <div class="regency">MIT Instructor</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item_testimonial">
                                    <div class="testimonial_content" style="background:#f6f9fa;">You don't need a
                                        whole ecommerce system to sell your online courses. Paypal, Stripe payment
                                        methods integration canhelp you sell your courses out of the box. In the
                                        case you wanna use WooCommerce, this awesome WordPress LMS Plugin willserve
                                        you well too.<span class="arrow-bottom"
                                                           style="border-top: 15px solid #f6f9fa"></span></div>
                                    <div class="testimonial-footer">
                                        <div class="avatar-testimonial"><img
                                                    src="../../tpdm.foobla.netdna-cdn.com/elearningwp/wp-content/uploads/2015/06/img-actus-90x90.jpg"
                                                    alt="Frankie Webb" title="Frankie Webb"/></div>
                                        <div class="title-regency"><h6><a href="hppt://wordpress.com/FrankieWebb">
                                                    Frankie Webb </a></h6>

                                            <div class="regency">WordPress Developer</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-grid" id="pg-1642-5">
                <div class="panel-grid-cell" id="pgc-1642-5-0">
                    <div class="so-panel widget widget_empty-space widget_empty-space panel-first-child panel-last-child"
                         id="panel-1642-5-0-0">
                        <div class="thim-widget-empty-space thim-widget-empty-space-base">
                            <div class="empty_space" style="height:120px"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-grid" id="pg-1642-6">
                <div class="siteorigin-panels-stretch panel-row-style"
                     style="background-repeat:no-repeat;background-color:#5dbe59;" data-stretch-type="full">
                    <div class="panel-grid-cell" id="pgc-1642-6-0">
                        <div class="so-panel widget widget_single-images widget_single-images panel-first-child panel-last-child"
                             id="panel-1642-6-0-0">
                            <div class="images-student panel-widget-style">
                                <div class="thim-widget-single-images thim-widget-single-images-base">
                                    <div class="single-image center"><img
                                                src="{{ asset('front/images/images-book.png') }}" width="367"
                                                height="261" alt=""/></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-grid-cell" id="pgc-1642-6-1">
                        <div class="so-panel widget widget_icon-box widget_icon-box panel-first-child panel-last-child"
                             id="panel-1642-6-1-0">
                            <div class="custom-readmore panel-widget-style"
                                 style="background-image: url(../../tpdm.foobla.netdna-cdn.com/elearningwp/wp-content/uploads/2015/06/bg-instructor.jpg);background-repeat: repeat;">
                                <div class="thim-widget-icon-box thim-widget-icon-box-base">
                                    <div class="wrapper-box-icon text-left " data-text-readmore="#fff">
                                        <div class="smicon-box icon-left">
                                            <div class="boxes-icon" style="width: 80px;height: 80px;"><span
                                                        class="inner-icon"><span class="icon icon-images"><img
                                                                src="{{ asset('front/images/images-book.png') }}"
                                                                width="80" height="62" alt=""/></span></span></div>
                                            <div class="content-inner" style="width: calc( 100% - 80px - 15px);">
                                                <div class="widget-title-icon-box "><h3 class="icon-box-title"
                                                                                        style="color: #ffffff;font-size: 32px; line-height: 32px;font-weight: 700;">
                                                        Become an instructor?</h3></div>
                                                <div class="desc-icon-box"><p
                                                            style="color: #ffffff;font-size: 13px;line-height: 20px;">
                                                        Join thousand of instructors and earn money hassle free!</p>
                                                    <a class="smicon-read sc-btn" href="#"
                                                       style="border-color: #ffffff;color: #ffffff;">Get Started
                                                        Now!<i class="fa fa-angle-right"></i></a></div>
                                            </div>
                                        </div>
                                        <!--end smicon-box--></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascriptsFront %}

{% endblock %}